@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Parisienne', cursive;
    padding: 0;
    margin: 0;
    user-select: none;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
}
body{
    background: linear-gradient(237.2deg, rgba(76, 223, 197, 0.74) 14.31%, #C73BCA 83.58%);
    height: 100vh;
    position: relative;
}
header img{
    margin: auto;
    display: block;
    width: 80%;
}
main{
    height: calc(100% - 192px);
}
main button{
    font-size: 40px;
    position: absolute;
    width: 70px;
    border: none;
    top: 40%;
    cursor: pointer;

}

main button#si{
    left: calc(50% - (70px/2) - 70px);
}
main button#no{
    left: calc(50% - (70px/2) + 70px);
}
main img{
    position: absolute;
    bottom: 0;
    left: calc(50% - (1000px/2));
    z-index: -1;
}

/* CSS */
.button-85 {
    font-size: 40px;
    position: absolute;
    width: 70px;
    border: none;
    top: 40%;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}